# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# Environment variables
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Log files
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# ChromaDB data
chroma_db/

# Docker
*.pid
docker-compose.override.yml

# Data files
sources.txt
*.txt